<div class="flex flex-row content-center p-8 m-4 ml-8">
  <img src=<%= @user.photo %> class="h-full"/>
  <span class="ml-20 text-2xl"><%= @user.name %></span>
  <span class="ml-[70%] mt-2">Posts: <%= @user.posts.length %></span>
</div>
<div class="ml-8">
  <h2 class="text-2xl ml-8 mb-2 underline">Bio</h2>
  <p class="text-xl ml-8"><%= @user.bio %></p>
</div>
<ul class="[&>*:nth-child(odd)]:bg-red-200 [&>*:nth-child(odd):hover]:border-red-400 [&>*:nth-child(even):hover]:border-teal-400 [&>*:nth-child(even)]:bg-teal-200">
  <% @recent_posts.each do |post| %>
    <li class="hover:cursor-pointer rounded-xl m-8 p-8 border-4 border-transparent">
      <h2 class="font-semibold text-2xl"><%= post.title %></h2>
      <p class="text-xl"><%= post.text %></p>
      <span class="ml-[85%] mt-2">Comments: <%= post.comments.length %></span>
      <span class="ml-2 mt-2">Likes: <%= post.likes.length %></span>
    </li>
  <% end %>
</ul>
<% unless @user.posts.length < 3 %>
  <button class="w-max px-12 py-4 bg-teal-300 ml-[45%] hover:bg-teal-200 rounded-xl">See all posts</button>
<% end %>