<ul class="[&>*:nth-child(odd)]:bg-red-200 [&>*:nth-child(odd):hover]:border-red-400 [&>*:nth-child(even):hover]:border-teal-400 [&>*:nth-child(even)]:bg-teal-200">
  <% @posts.each do |post| %>
    <li class="hover:cursor-pointer rounded-xl m-8 p-8 border-4 border-transparent">
      <div>
        <h2 class="font-semibold text-2xl"><%= post.title %> by <%= User.find(post.author_id).name %></h2>
        <p class="text-xl"><%= post.text %></p>
        <span class="ml-[85%] mt-2">Comments: <%= post.comments.length %></span>
        <span class="ml-2 mt-2">Likes: <%= post.likes.length %></span>
      </div>
    </li>
    <ul class="bg-white -mt-8 rounded-xl ml-8 pl-8 py-8 w-[96%]">
      <%= link_to '', new_user_post_comment_path(id: current_user, post_id: post) %>
      <% unless post.comments.any? %>
        <h2>No Comments</h2>
      <% end %>
      <% post.comments.each do |comment| %>
        <li class="hover:cursor-pointer">
          <span class="font-semibold"><%= User.find(comment.author_id).name %>:</span>
          <span class="ml-2"><%= comment.text %></span>
        </li>
      <% end %>
    </ul>
    <button class="px-8 py-2 mt-3 ml-[45%] rounded-2xl border-4 border-transparent hover:border-red-300">
      <%= link_to 'New Comment', new_user_post_comment_path(id: current_user, post_id: post) %>
    </button>
    <button class="px-8 py-2 rounded-2xl border-4 border-transparent hover:border-blue-300">
      <%= form_with model: @like, url: user_post_likes_path(post_id: post) do |f| %>
        <%= f.submit "Like" %>
      <% end %>
    </button>
  <% end %>

</ul>